[submodule "apps/samsung-skill"]
	path = apps/samsung-skill
	url = https://github.com/ownzandy/smart-home-alexa-samsung-tv-skill
[submodule "apps/sensi-skill"]
	path = apps/sensi-skill
	url = https://github.com/ownzandy/smart-home-alexa-sensi-thermostat-skill
